@if (message) {
  <div style="background: #d4edda; padding: 10px; margin-bottom: 10px">
    {{ message }}
  </div>
}

<h1>Listagem</h1>

@if (persons.length === 0) {
  <p>Nenhum registro cadastrado.</p>
} @else {
  <ul>
    @for (person of persons; track person; let i = $index) {
      <li>
        <strong>{{ person.name }}</strong
        ><br />
        {{ person.email }}<br />
        {{ person.age }} anos

        <div>
          <button [routerLink]="['/edit', i]">Editar</button>
          <button type="button" (click)="deletePerson(i)">Excluir</button>
        </div>
      </li>
    }
  </ul>
}
